#navbar {
    background-color: #0049a7;
}

.navbar-title{
    color: white;
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#boton{
    text-decoration: solid;
    color: white;
    background-color:#0049a7;
    border-color: #0049a7;
}